.element__like {
    margin: 30px 20px;
    padding: 0;
    width: 22px;
    height: 19px;
    justify-self: end;
    background-image: url(../../../images/like.svg);
    transition: opacity 0.5s ease;
}

.element__like:hover {
    opacity: 0.5;
    transform: scale(1.3);
}