.element__like-btn {
    margin: 30px 20px;
    padding: 0;
    width: 22px;
    height: 19px;
    justify-self: end;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s, transform 0.5s ease;
}

.element__like-btn:hover {
    opacity: 0.5;
    transform: scale(1.3);
}