.popup__picture {
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
}

@media screen and (min-width: 1280px) {
    .popup__picture {
        max-width: 75vw;
        max-height: 75vh;
    }
}