.popup-image__container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 240px;
    background-color: transparent;
}

@media screen and (min-width: 1280px) {
    .popup-image__container {
        max-width: 816px;
    }
}